/* Color Variables */

$primary-color: #29b3db;
$light-color: #c9ecf6;
$notice-color: #f3654f;
$success-color: #11d5b7;

/* Color Mixins */

@mixin primary-gradient(){
	background: linear-gradient( #29b3db 55%, #1e91c7 100%);
	background: -moz-linear-gradient(top,  #29b3db 55%, #1e91c7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,#29b3db), color-stop(100%,#1e91c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29b3db 55%,#1e91c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29b3db 55%,#1e91c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29b3db 55%,#1e91c7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #29b3db 55%,#1e91c7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b3db', endColorstr='#1e91c7',GradientType=0 ); /* IE6-9 */
}
@mixin gupi-btn{
	border: 2px solid #FFF;
	color: #FFF;
	background: $primary-color;
}
@mixin border-radius($radius){
	border-radius:($radius);
	-moz-border-radius:($radius);
	-webkit-border-radius:($radius);
}
@mixin box-shadow($shadow){
	box-shadow:($shadow);
	-moz-box-shadow:($shadow);
	-webkit-box-shadow:($shadow);
}
@mixin transition-all($transition-time){
	transition: $transition-time all linear;
	-moz-transition: $transition-time all linear;
	-webkit-transition: $transition-time all linear;
}
