button{
	background: none;
	border: none;
	cursor: pointer;
	&:focus{
		outline: none;
	}
	&.accept{
		background: $success-color;
		color: #FFF;
		font-size: 1em;
		@include border-radius(3px);
		padding: 10px;
	}
	&.decline{
		background: $notice-color;
		color: #FFF;
		font-size: 1em;
		@include border-radius(3px);
		padding: 10px;
	}
}
