/* Color Variables */
/* Color Mixins */
button {
  background: none;
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }
  button.accept {
    background: #11d5b7;
    color: #FFF;
    font-size: 1em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px; }
  button.decline {
    background: #f3654f;
    color: #FFF;
    font-size: 1em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px; }

meta.foundation-version {
  font-family: "/5.5.2/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  font-size: 100%; }

body {
  background: #fff;
  color: #222222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.row.collapse .row {
  margin-left: 0;
  margin-right: 0; }

.row .row {
  margin: 0 -0.9375em;
  max-width: none;
  width: auto; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  margin: 0;
  max-width: none;
  width: auto; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.column,
.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }

.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .small-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  .small-offset-0 {
    margin-left: 0 !important; }

  .small-offset-1 {
    margin-left: 8.33333% !important; }

  .small-offset-2 {
    margin-left: 16.66667% !important; }

  .small-offset-3 {
    margin-left: 25% !important; }

  .small-offset-4 {
    margin-left: 33.33333% !important; }

  .small-offset-5 {
    margin-left: 41.66667% !important; }

  .small-offset-6 {
    margin-left: 50% !important; }

  .small-offset-7 {
    margin-left: 58.33333% !important; }

  .small-offset-8 {
    margin-left: 66.66667% !important; }

  .small-offset-9 {
    margin-left: 75% !important; }

  .small-offset-10 {
    margin-left: 83.33333% !important; }

  .small-offset-11 {
    margin-left: 91.66667% !important; }

  .small-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.small-uncentered,
  .columns.small-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none; }

  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; }

  .row.small-collapse > .column,
  .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

  .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0; }

  .row.small-uncollapse > .column,
  .row.small-uncollapse > .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; } }
@media only screen and (min-width: 40.0625em) {
  .medium-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .medium-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  .medium-offset-0 {
    margin-left: 0 !important; }

  .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .medium-offset-3 {
    margin-left: 25% !important; }

  .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .medium-offset-6 {
    margin-left: 50% !important; }

  .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .medium-offset-9 {
    margin-left: 75% !important; }

  .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .medium-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none; }

  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }

  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.0625em) {
  .large-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  .large-offset-0 {
    margin-left: 0 !important; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.large-uncentered,
  .columns.large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none; }

  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0; }

  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }

[class*="block-grid-"]:before, [class*="block-grid-"]:after {
  content: " ";
  display: table; }

[class*="block-grid-"]:after {
  clear: both; }

[class*="block-grid-"] > li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    list-style: none;
    width: 100%; }

  .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .small-block-grid-2 > li {
    list-style: none;
    width: 50%; }

  .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .small-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }

  .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .small-block-grid-4 > li {
    list-style: none;
    width: 25%; }

  .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .small-block-grid-5 > li {
    list-style: none;
    width: 20%; }

  .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .small-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }

  .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .small-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }

  .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .small-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }

  .small-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .small-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }

  .small-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .small-block-grid-10 > li {
    list-style: none;
    width: 10%; }

  .small-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .small-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }

  .small-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .small-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }

  .small-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }

  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
@media only screen and (min-width: 40.0625em) {
  .medium-block-grid-1 > li {
    list-style: none;
    width: 100%; }

  .medium-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%; }

  .medium-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .medium-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }

  .medium-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .medium-block-grid-4 > li {
    list-style: none;
    width: 25%; }

  .medium-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .medium-block-grid-5 > li {
    list-style: none;
    width: 20%; }

  .medium-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .medium-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }

  .medium-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .medium-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }

  .medium-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .medium-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }

  .medium-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .medium-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }

  .medium-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .medium-block-grid-10 > li {
    list-style: none;
    width: 10%; }

  .medium-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .medium-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }

  .medium-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .medium-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }

  .medium-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }

  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
@media only screen and (min-width: 64.0625em) {
  .large-block-grid-1 > li {
    list-style: none;
    width: 100%; }

  .large-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .large-block-grid-2 > li {
    list-style: none;
    width: 50%; }

  .large-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .large-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }

  .large-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .large-block-grid-4 > li {
    list-style: none;
    width: 25%; }

  .large-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .large-block-grid-5 > li {
    list-style: none;
    width: 20%; }

  .large-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .large-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }

  .large-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .large-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }

  .large-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .large-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }

  .large-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .large-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }

  .large-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .large-block-grid-10 > li {
    list-style: none;
    width: 10%; }

  .large-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .large-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }

  .large-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .large-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }

  .large-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }

  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
#navbar {
  background: #29b3db; }
  #navbar img {
    display: block;
    margin: 0 auto;
    width: 50px; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Helvetica', sans-serif; }

input:-webkit-input-placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #D1D1D1; }

a {
  color: #29b3db;
  text-decoration: none; }

body {
  font-size: 100%; }

.page {
  background: #f0f4f5;
  padding: 10px 0;
  height: auto; }

.notification-bar .invite-notice {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #f3654f;
  margin: 2px; }
  .notification-bar .invite-notice h4 {
    color: #FFF;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
    text-align: center; }
    .notification-bar .invite-notice h4 span {
      border: 2px solid #FFF;
      border-radius: 20px;
      margin: 0 10px;
      padding: 5px 10px; }
.notification-bar .group-joined-notice {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #11d5b7;
  margin: 2px; }
  .notification-bar .group-joined-notice h4 {
    color: #FFF;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
    text-align: center; }

.invite-overlay {
  top: 0;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 9; }
  .invite-overlay .invite-overlay-bg {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1; }
  .invite-overlay .invite-modal {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #FFF;
    float: none;
    height: 550px;
    margin: 75px auto;
    overflow: auto;
    padding: 15px;
    z-index: 2; }
    .invite-overlay .invite-modal .group-invite {
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid #EFEFEF;
      position: relative;
      overflow: hidden; }
      .invite-overlay .invite-modal .group-invite:hover .invite-response {
        top: 62px; }
    .invite-overlay .invite-modal h2 {
      margin: 5px 0; }
    .invite-overlay .invite-modal h4 {
      font-weight: normal;
      margin: 0;
      padding: 14px; }
    .invite-overlay .invite-modal span {
      font-weight: bold; }
    .invite-overlay .invite-modal .user {
      float: left;
      margin-right: 10px; }
      .invite-overlay .invite-modal .user img {
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        width: 50px; }
    .invite-overlay .invite-modal .group-banner {
      overflow: hidden;
      height: 175px;
      width: 100%; }
    .invite-overlay .invite-modal .invite-response {
      transition: 0.1s all linear;
      -moz-transition: 0.1s all linear;
      -webkit-transition: 0.1s all linear;
      position: absolute;
      top: 62px;
      top: 100%;
      width: 100%;
      height: 175px;
      text-align: center; }
      .invite-overlay .invite-modal .invite-response button {
        font-size: 1.5em;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin: -25px 15px 0;
        position: relative;
        text-align: center;
        top: 50%; }

/* Styles for the Login Page of Gupi */
.login-page {
  background: linear-gradient(#29b3db 55%, #1e91c7 100%);
  background: -moz-linear-gradient(top, #29b3db 55%, #1e91c7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #29b3db), color-stop(100%, #1e91c7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #29b3db 55%, #1e91c7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #29b3db 55%, #1e91c7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #29b3db 55%, #1e91c7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #29b3db 55%, #1e91c7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b3db', endColorstr='#1e91c7',GradientType=0 );
  /* IE6-9 */
  height: 100%; }
  .login-page .login-section {
    float: none;
    margin: 0 auto; }
    .login-page .login-section .login-header {
      margin: 40px auto;
      width: 50%; }
    .login-page .login-section .form-block {
      position: relative; }
      .login-page .login-section .form-block .login-form, .login-page .login-section .form-block .register-form {
        position: absolute;
        top: 0;
        margin: 0 auto; }
        .login-page .login-section .form-block .login-form h2, .login-page .login-section .form-block .register-form h2 {
          color: #FFF;
          text-align: center;
          font-size: 1.2em;
          font-weight: 300;
          letter-spacing: 3px;
          text-transform: uppercase; }
      .login-page .login-section .form-block input[type="text"] {
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        background: #FFF;
        border: 1px solid #e1e1e1;
        color: #636363;
        font-size: .9em;
        height: 55px;
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        /* I want to change the text color of the placeholder text */ }
        .login-page .login-section .form-block input[type="text"]:focus {
          outline: none; }
      .login-page .login-section .form-block input[type="checkbox"] {
        color: #FFF; }
      .login-page .login-section .form-block .save-password {
        color: #FFF;
        float: left;
        font-size: .7em; }
      .login-page .login-section .form-block button {
        border: 2px solid #FFF;
        color: #FFF;
        background: #29b3db;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        font-size: 1.1em;
        font-weight: 100;
        width: 100%;
        padding: 15px;
        margin: 10px 0; }
      .login-page .login-section .form-block a {
        color: #FFF;
        font-size: .7em;
        float: right;
        text-decoration: none; }

.page.group-list-page {
  background: #f0f4f5;
  height: auto;
  padding: 10px 0; }
  .page.group-list-page .group-list {
    float: none;
    margin: 0 auto;
    padding: 5px; }
    .page.group-list-page .group-list .group {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      background: #FFF;
      padding: 10px;
      margin: 15px 0; }
      .page.group-list-page .group-list .group h2 {
        font-weight: 300;
        margin: 0; }
      .page.group-list-page .group-list .group .group-banner {
        background: #F0F4F5;
        overflow: hidden;
        width: 100%;
        height: 235px; }
        .page.group-list-page .group-list .group .group-banner img {
          cursor: pointer; }
      .page.group-list-page .group-list .group .group-members {
        overflow: auto;
        padding: 10px 0 0; }
        .page.group-list-page .group-list .group .group-members .user {
          float: left;
          margin: 0 5px; }
          .page.group-list-page .group-list .group .group-members .user:first-child {
            margin-left: 0; }
          .page.group-list-page .group-list .group .group-members .user img {
            border-radius: 30px;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            width: 50px; }
        .page.group-list-page .group-list .group .group-members .more-users {
          padding: 15px; }

.page.single-group {
  padding: 10px 0; }
  .page.single-group .post-feed {
    float: none;
    margin: 10px auto 0;
    padding: 0; }
    .page.single-group .post-feed .post {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background: #FFF;
      padding: 10px;
      overflow: auto;
      margin: 5px 0; }
      .page.single-group .post-feed .post .post-options {
        padding: 5px; }
        .page.single-group .post-feed .post .post-options i {
          cursor: pointer;
          color: #787878;
          color: #c9ecf6;
          font-size: 1.5em;
          float: right; }
        .page.single-group .post-feed .post .post-options .delete-post {
          color: #f3654f;
          cursor: pointer;
          font-size: .8em;
          float: right; }
      .page.single-group .post-feed .post .post-author {
        float: left;
        margin: 0 5px 10px 0; }
        .page.single-group .post-feed .post .post-author img {
          border-radius: 30px;
          -moz-border-radius: 30px;
          -webkit-border-radius: 30px;
          width: 50px; }
        .page.single-group .post-feed .post .post-author span {
          font-size: .8em;
          font-weight: bold; }
      .page.single-group .post-feed .post .post-date {
        color: #787878;
        float: right;
        font-size: .8em;
        padding: 15px 0; }
      .page.single-group .post-feed .post .post-content {
        clear: both; }
      .page.single-group .post-feed .post .text-post {
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border: 1px solid #EBEBEB;
        font-size: .9em;
        padding: 15px;
        max-height: 188px;
        overflow: hidden; }
        .page.single-group .post-feed .post .text-post h3 {
          margin: 5px 0; }
        .page.single-group .post-feed .post .text-post.open {
          max-height: none; }
      .page.single-group .post-feed .post .image-post {
        transition: 3s all linear;
        -moz-transition: 3s all linear;
        -webkit-transition: 3s all linear;
        overflow: hidden;
        width: 100%;
        height: 300px; }
        .page.single-group .post-feed .post .image-post.open {
          height: auto; }
        .page.single-group .post-feed .post .image-post img {
          width: 100%;
          height: auto; }

.create-post-header .post-author {
  border-right: 1px solid #EBEBEB;
  float: left;
  margin: 5px 0;
  padding-right: 10px; }
  .create-post-header .post-author img {
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    width: 65px; }

.create-post-block {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #FFF;
  float: none;
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
  text-align: center;
  z-index: 9; }
  .create-post-block .post-types {
    margin: 0 auto;
    padding: 0 10px;
    overflow: auto; }
  .create-post-block button {
    transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -webkit-transition: 0.1s all linear;
    color: #29b3db;
    font-size: 1.2em;
    float: left;
    height: 75px;
    opacity: .6;
    text-align: center;
    padding: 0; }
    .create-post-block button:hover {
      padding-bottom: 10px;
      opacity: 1; }
    .create-post-block button i {
      font-size: 2em;
      width: 100%; }
    .create-post-block button span {
      font-size: .8em; }

.user-settings-page {
  background: #f0f4f5; }
  .user-settings-page .user-settings {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: none;
    margin: 20px auto 0; }
    .user-settings-page .user-settings .user-profile {
      background: #FFF;
      padding: 20px;
      text-align: center; }
      .user-settings-page .user-settings .user-profile h2 {
        font-size: 1.8em;
        margin: 5px 0; }
      .user-settings-page .user-settings .user-profile .user-about {
        color: #3b3b3b;
        font-size: 1.1em;
        font-style: italic;
        font-weight: 300;
        overflow: auto;
        padding-bottom: 25px;
        position: relative; }
        .user-settings-page .user-settings .user-profile .user-about span {
          cursor: pointer;
          color: #29b3db;
          display: none;
          font-size: .8em;
          float: right;
          position: absolute;
          bottom: 0;
          right: 0;
          text-decoration: none; }
        .user-settings-page .user-settings .user-profile .user-about:hover span {
          display: block; }
    .user-settings-page .user-settings .settings-fields {
      background: #FFF;
      margin: 10px 0;
      overflow: auto;
      padding: 15px; }
      .user-settings-page .user-settings .settings-fields input[type="text"] {
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        background: #FFF;
        border: 1px solid #e1e1e1;
        font-size: .9em;
        height: 55px;
        margin: 10px 0;
        padding: 10px;
        width: 100%; }
        .user-settings-page .user-settings .settings-fields input[type="text"]:focus {
          outline: none; }
      .user-settings-page .user-settings .settings-fields button.form-btn {
        border: 2px solid #FFF;
        color: #FFF;
        background: #29b3db;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 1em;
        margin-top: 15px;
        padding: 15px; }
      .user-settings-page .user-settings .settings-fields .terminate-account {
        color: #f3654f;
        float: right;
        font-size: .8em;
        margin: 40px 0 0;
        text-decoration: none; }
    .user-settings-page .user-settings .profile-img {
      border-radius: 50px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      margin: 0 auto;
      overflow: hidden;
      width: 100px; }
      .user-settings-page .user-settings .profile-img img {
        display: block; }

/*# sourceMappingURL=main.css.map */
