*{ 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

input:-webkit-input-placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder{

	color: #D1D1D1;
}
a{
	color: $primary-color;
	text-decoration: none;
}


body{
	font-size: 100%;
}
.page{
	background: #f0f4f5;
	padding: 10px 0;
	height: auto;
}
.notification-bar{
	.invite-notice{
		@include border-radius(3px);
		background: $notice-color;
		margin: 2px;
		h4{
			color: #FFF;
			cursor: pointer;
			margin: 0;
			padding: 10px 0;
			text-align: center;
			span{
				border: 2px solid #FFF;
				border-radius: 20px;
				margin: 0 10px;
				padding: 5px 10px;
			}
		}

	}
	.group-joined-notice{
		@include border-radius(3px);
		background: $success-color;
		margin: 2px;
		h4{
			color: #FFF;
			cursor: pointer;
			margin: 0;
			padding: 10px 0;
			text-align: center;
		}
	}
}
.invite-overlay{
	top: 0;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 9;
	.invite-overlay-bg{
		background: rgba(black, .5);
		width: 100%;
		top: 0;
		bottom: 0;
		position: fixed;
		z-index: 1;
	}
	.invite-modal{
		@include border-radius(2px);
		background: #FFF;
		float: none;
		height: 550px;
		margin: 75px auto;
		overflow: auto;
		padding: 15px;
		z-index: 2;
		.group-invite{
			padding-top: 10px;
			margin-top: 10px;
			border-top: 1px solid #EFEFEF;
			position: relative;
			overflow: hidden;
			&:hover .invite-response{
				top: 62px;
			}
		}
		h2{
			margin: 5px 0;
		}
		h4{
			font-weight: normal;
			margin: 0;
			padding: 14px;
		}
		span{
			font-weight: bold;
		}
		.user{
			float: left;
			margin-right: 10px;
			img{
				@include border-radius(30px);
				width: 50px;
			}
		}
		.group-banner{
			overflow: hidden;
			height: 175px;
			width: 100%;
		}
		.invite-response{
			@include transition-all(.1s);
			position: absolute;
			top: 62px;
			top: 100%;
			width:100%;
			height: 175px;
			text-align: center;
			button{
				font-size: 1.5em;
				border-radius: 100%;
				width: 50px;
				height: 50px;
				margin:  -25px 15px 0;
				position: relative;
				text-align: center;
				top: 50%;
				&.accept{
				}
				&.decline{
				}
			}
		}
		
	}
}
