.page.single-group{
	padding: 10px 0;
	.post-feed{
		float: none;
		margin: 10px auto 0;
		padding: 0;
		.post{
			@include border-radius(2px);
			@include box-shadow(0 1px 1px rgba(#000, .1));
			background: #FFF;
			padding: 10px;
			overflow: auto;
			margin: 5px 0;
			.post-options{
				padding: 5px;

				i{
					cursor: pointer;
					color: #787878;
					color: $light-color;
					font-size: 1.5em;
					float: right;
				}
				.delete-post{
					color: $notice-color;
					cursor: pointer;
					font-size: .8em;
					float: right;
				}
			}
			.post-author{
				float: left;
				margin: 0 5px 10px 0;
				img{
					@include border-radius(30px);
					width: 50px;
				}
				span{
					font-size: .8em;
					font-weight: bold;
				}

			}
			.post-date{
				color: #787878;
				float: right;
				font-size: .8em;
				padding: 15px 0;
			}
			.post-content{
				clear: both;
			}
			.text-post{
				@include border-radius(2px);
				border: 1px solid #EBEBEB;
				font-size: .9em;
				padding: 15px;
				max-height: 188px;
				overflow: hidden;
				h3{
					margin: 5px 0;
				}
				&.open{
					max-height: none;
				}
			}
			.image-post{
				@include transition-all(3s);
				overflow: hidden;
				width: 100%;
				height: 300px;
				&.open{
					height: auto;
				}
					img{
						width: 100%;
						height: auto;
					}

			}
		}
	}
}
