.page.group-list-page{
	background: #f0f4f5;
	height: auto;
	padding: 10px 0;
	.group-list{
		float: none;
		margin: 0 auto;
		padding: 5px;
		
		.group{
			@include border-radius(2px);
			background: #FFF;
			padding: 10px;
			margin: 15px 0;
			h2{
				font-weight: 300;
				margin: 0;
			}
			.group-banner{
				background: #F0F4F5;
				overflow: hidden;
				width: 100%;
				height: 235px;
				img{
					cursor: pointer;
				}
			}
			.group-members{
				overflow: auto;
				padding: 10px 0 0;
				.user{
					float: left;
					margin: 0 5px;
					&:first-child{
						margin-left: 0;
					}
					img{
						@include border-radius(30px);
						width: 50px;
					}
				}
				.more-users{
					padding: 15px;

				}
			}

		}
	}
}
