/* Styles for the Login Page of Gupi */
.login-page{
	@include primary-gradient;
	height: 100%;

	.login-section{
		float: none;
		margin: 0 auto;

		.login-header{
			margin: 40px auto;
			width: 50%;	
		}
		.form-block{
			position: relative;

			.login-form,.register-form{
				position: absolute;
				top: 0;
				margin: 0 auto;
				h2{
					color: #FFF;
					text-align: center;
					font-size: 1.2em;
					font-weight: 300;
					letter-spacing: 3px;
					text-transform: uppercase;
				}
			}

			input[type="text"]{
				@include border-radius(2px);
				@include box-shadow(0 1px 2px rgba(#000, .1));
				background: #FFF;
				border: 1px solid #e1e1e1;
				color: #636363 ;
				font-size: .9em;
				height: 55px;
				margin: 10px 0;
				padding: 10px;
				width: 100%;
				/* I want to change the text color of the placeholder text */
				&:focus{
					outline: none;
				}
			}
			input[type="checkbox"]{
				color: #FFF;
			}
			.save-password{
				color: #FFF;
				float: left;
				font-size: .7em;
			}
			button{
				@include gupi-btn;
				background: rgba(#FFF, .1);
				border-radius: 2px;
				font-size: 1.1em;
				font-weight: 100;
				width: 100%;
				padding: 15px;
				margin: 10px 0;
			}
			a{
				color: #FFF;
				font-size: .7em;
				float: right;
				text-decoration: none;
			}
		}
	}
}
