.create-post-header{
	.post-author{
		border-right: 1px solid #EBEBEB;
		float: left;
		margin: 5px 0;
		padding-right: 10px;
		img{
			@include border-radius(45px);
			width: 65px;
		}
	}
}
.create-post-block{
	@include border-radius(2px);
	@include box-shadow(0 1px 1px rgba(#000, .1));
	background: #FFF;
	float: none;
	margin: 0 auto;
	overflow: auto;
	padding: 10px;
	text-align: center;
	z-index: 9;
	.post-types{
		margin: 0 auto;
		padding: 0 10px;
		overflow: auto;
	}
	button{
		@include transition-all(.1s);
		color: $primary-color;
		font-size: 1.2em;
		float: left;
		height: 75px;
		opacity: .6;
		text-align: center;
		padding: 0;
		&:hover{
			padding-bottom: 10px;
			opacity: 1;
		}
		i{
			font-size: 2em;
			width: 100%;
		}
		span{
			font-size: .8em;
		}
	}
}
