.user-settings-page{
	background: #f0f4f5;
	.user-settings{
		@include border-radius(3px);
		float: none;
		margin: 20px auto 0;
		.user-profile{
			background: #FFF;
			padding: 20px;
			text-align: center;
			h2{
				font-size: 1.8em;
				margin: 5px 0;
			}
			.user-about{
				color: #3b3b3b;
				font-size: 1.1em;
				font-style: italic;
				font-weight: 300;
				overflow: auto;
				padding-bottom: 25px;
				position: relative;
				span{
					cursor: pointer;
					color: $primary-color;
					display: none;
					font-size: .8em;
					float: right;
					position: absolute;
					bottom: 0;
					right: 0;
					text-decoration: none;
				}
				&:hover span{
					display: block;
				}
			}
		}
		.settings-fields{
			background: #FFF;
			margin: 10px 0;
			overflow: auto;
			padding: 15px;
			input[type="text"]{
				@include border-radius(2px);
				@include box-shadow(0 1px 2px rgba(#000, .1));
				background: #FFF;
				border: 1px solid #e1e1e1;
				font-size: .9em;
				height: 55px;
				margin: 10px 0;
				padding: 10px;
				width: 100%;
				&:focus{
					outline: none;
				}
			}
			button.form-btn{
				@include gupi-btn;
				@include border-radius(4px);
				font-size: 1em;
				margin-top: 15px;
				padding: 15px;
			}
			.terminate-account{
				color: $notice-color;
				float: right;
				font-size: .8em;
				margin: 40px 0 0;
				text-decoration: none;
			}
		}
		.profile-img{
				@include border-radius(50px);
				margin: 0 auto;
				overflow: hidden;
				width: 100px;
			img{
				display: block;
			}
		}
	}
}
